name: flow_coordinator
description: A navigation and routing API that organizes screens into user flows.
version: 0.0.1
repository: https://github.com/edwardnagy/flow_coordinator
issue_tracker: https://github.com/edwardnagy/flow_coordinator/issues

environment:
  sdk: ^3.0.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
